@import '../../sass-files/variables';
@import '../../sass-files/mixins';

div {
  height: 37px;
  width: 6px;
  @include tablet(){
    width: 10px;
  }
  @include desktop(){
    width: 15px;
  }

}

.low-status {
  background-color: $gray_4;
}

.mid-status {
  background-color: $yellow_1;
}

.high-status {
  background-color: $blue_2;
}