
//Fuente
$main_font: Roboto, "Helvetica Neue", sans-serif;

//Media Queries sizes
$telefono : 480px;
$tablet: 768px;
$desktop: 1024px;

//colors
$blue_1: #106EB9;
$blue_2: #56C2D6;
$blue_3: #094E84;
$blue_4: #3994DD;

$gray_1: #F5F2F2;
$gray_2: #B9B9B9;
$gray_3: #656565;
$gray_4: #DDDDDD;

$white_1: #FFFFFF;

$yellow_1: #D6C756;

$green_1: #5CB85C;

$red_1: #ff0000;