
.uptime-title{
  color: #106EB9;
  justify-content: center;
  text-align: right;
  margin: 100px auto 2px auto;
  width: 80%;
}

.main-tracker {
  margin: 6px auto 0 auto;;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #fff;
}

.h-line{
  border-bottom: 1px solid #F5F2F2;
  width: 96%;
}

app-services-tracker{
  width: 100%;
}

.overall-uptime-title{
  color: #106EB9;
  justify-content: center;
  text-align: left;
  margin: 50px auto 0 auto;
  width: 80%;
}

.final {
  width: 80%;
  margin: 6px auto 0 auto;
}