<div class="main-overall">
  <div class="overall-item">
    <p class="overall-percent">{{overallUt1}}%</p>
    <p class="overall-days">Last 24 hours</p>
  </div>
  <div><div class="v-line"></div></div>
  <div class="overall-item">
    <p class="overall-percent">{{overallUt7}}%</p>
    <p class="overall-days">Last 7 days</p>
  </div>
  <div><div class="v-line"></div></div>
  <div class="overall-item">
    <p class="overall-percent">{{overallUt30}}%</p>
    <p class="overall-days">Last 30 days</p>
  </div>
</div>