.status-main-bar{
  height: 60px;
  background-color: #106EB9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bar-item{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.circulo {
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  margin-top: 12px;
  margin-right: 5px;
}

.overall-status{
  display: flex;
}

p.overall-status {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

#last-updated p {
  color: #ffffff;
  font-size: 15px;
}

.v-line {
  border-left: 1px solid #3994DD;
  height: 80%;;
}
