@import '../../sass-files/variables';

.main-services-tracker{
  height: 150px;
  width: 100%;
  background-color: $white_1;
}

.title-tracker{
  color: $gray_3;
  font-weight: bold;
}

.aux-title {
  color: $gray_2;
}

.circulo {
  width: 14px;
  height: 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: $green_1;
  margin-top: 18px;
  margin-right: 5px;
}

.down{
  background: $red_1 !important;
}

.up-tracker {
  margin-left: 17px;
  margin-right: 17px;
  display: flex;
  justify-content: space-between;
}

.up-tracker .status-tracker {
  display: flex;
}

.mid-tracker{
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;
}

.down-tracker {
  margin-left: 17px;
  margin-right: 17px;
  display: flex;
  justify-content: space-between;
}
