<div class="main-services-tracker">
  <div class="up-tracker">
    <p class="title-tracker">{{title}}</p>
    <div class="status-tracker">
      <div class="circulo"></div>
      <p class="aux-title">Up</p>
    </div>
  </div>
  <div class="mid-tracker">
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
    <app-service></app-service>
  </div>
  <div class="down-tracker">
    <p class="aux-title">{{percentage}}%</p>
    <p class="aux-title">Today</p>
  </div>
</div>