@import './app/sass-files/variables';

html {
  box-sizing: boder-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: $main_font;
  background-color: $gray_1;
}




